name: Generate USAGE.md
on:
  push:
    paths:
      - "**.tf"
      - ".github/workflows/doc.yaml"
      - "!examples/**"
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Render terraform docs inside the USAGE.md and push changes back to branch
      uses: terraform-docs/gh-actions@v1
      with:
        working-dir: .
        output-file: USAGE.md
        output-method: replace
        git-push: 'true'
